<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login - RajaTopUp</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<body>

<div class="auth-card">

    <h1>🔑 Masuk</h1>

    <form action="/login" method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
            required>

        <input
            type="password"
            name="password"
            placeholder="Password"
            required>

        <button type="submit">
            Masuk
        </button>

    </form>

    <p style="text-align:center;margin-top:20px;">
        Belum punya akun?
        <a href="/register">Daftar</a>
    </p>

</div>

</body>

</body>
</html>
