
<!DOCTYPE html>
<html>
<head>
<title>Privacy Policy - RajaTopUp</title>
</head>
<body>

<h1>Privacy Policy</h1>

<p>RajaTopUp menjaga keamanan data pelanggan dan tidak membagikan data kepada pihak lain tanpa izin pengguna.</p>

</body>
</html>
