<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Profil Saya</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="auth-box">

<h2>👤 Profil Saya</h2>

<p><b>Username</b></p>
<p><%= user.username %></p>

<br>

<p><b>Email</b></p>
<p><%= user.email %></p>

<br>

<a class="buy-btn" href="/">🏠 Kembali ke Beranda</a>

</div>

</body>
</html>
