<!DOCTYPE html>
<html lang="id">
<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>RajaTopUp</title>

<link rel="stylesheet" href="/css/splash.css">

</head>

<body>

<div class="splash">

    <div class="logo">

        <div id="crown">👑</div>

        <h1 id="logoText"></h1>

    </div>

    <div class="loading-box">

        <div class="loading-text">

            Loading...

            <span id="percent">0%</span>

        </div>

        <div class="loading">

            <div id="loadingBar"></div>

        </div>

    </div>

</div>

<script src="/js/splash.js"></script>

</body>

</html>
